.button {
  cursor: pointer;
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-200);
  color: var(--clr-dark);
  background-color: var(--clr-primary);
  border-radius: var(--spacing-200);
  font-weight: var(--fw-bold);
  font-size: var(--fs-450);
}
